.feature-card:not(:last-child)::after {
  content: '';
  position: absolute;
  background-color: hsl(180, 66%, 49%);
  width: 7px;
  height: 100px;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .feature-card:not(:last-child)::after {
    width: 100px;
    height: 7px;
    right: 0;
    left: unset;
    top: 50%;
    bottom: unset;
    transform: translateX(100%);
  }
}